.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  padding-top: 70px;
  flex-direction: column;
}
.home-navbar {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-pallet-green);
}
.home-header {
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.home-navbar1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.home-container1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-image {
  width: 24px;
  height: 24px;
  z-index: 100;
  margin-right: -32px;
}
.home-middle {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.home-left {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.home-right {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.home-icons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo-center1 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 24px;
  font-family: Jost;
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  letter-spacing: 0.4em;
  text-decoration: none;
}
.home-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-middle1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.home-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-text05 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-text06 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-text07 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-text09 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.home-hero {
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-pallet-green);
}
.home-max-width {
  max-width: 1032px;
}
.home-hero1 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-image1 {
  width: 100%;
  max-width: 579px;
  align-self: center;
  box-sizing: border-box;
  max-height: 579px;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}
.home-navlink {
  width: 191px;
  height: 189px;
  padding-left: 0px;
  background-size: cover;
  text-decoration: none;
  background-image: url("public/playground_assets/download%20%5B3%5D-200h.png");
}
.home-navlink1 {
  width: 191px;
  height: 189px;
  padding-left: 0px;
  background-size: cover;
  text-decoration: none;
  background-image: url("public/playground_assets/download%20%5B3%5D-200h.png");
}
.home-navlink2 {
  width: 191px;
  height: 189px;
  padding-left: 0px;
  background-size: cover;
  text-decoration: none;
  background-image: url("public/playground_assets/download%20%5B3%5D-200h.png");
}
.home-navlink3 {
  width: 191px;
  height: 189px;
  padding-left: 0px;
  background-size: cover;
  text-decoration: none;
  background-image: url("public/playground_assets/download%20%5B3%5D-200h.png");
}
.home-button {
  left: 30px;
  width: 191px;
  bottom: 92px;
  height: 189px;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  background-size: cover;
  text-decoration: none;
  background-image: url("public/playground_assets/retrobowl-200h.webp");
}
.home-button1 {
  left: 30px;
  width: 191px;
  bottom: 92px;
  height: 189px;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  background-size: cover;
  text-decoration: none;
  background-image: 85d37d8e-b226-4483-82ff-ac17e65f6d54;
}
.home-button2 {
  left: 30px;
  width: 191px;
  bottom: 92px;
  height: 189px;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  background-size: cover;
  text-decoration: none;
  background-image: 85d37d8e-b226-4483-82ff-ac17e65f6d54;
}
.home-button3 {
  left: 30px;
  width: 191px;
  bottom: 92px;
  height: 189px;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  background-size: cover;
  text-decoration: none;
  background-image: 85d37d8e-b226-4483-82ff-ac17e65f6d54;
}
.home-button4 {
  left: 30px;
  width: 191px;
  bottom: 92px;
  height: 189px;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  background-size: cover;
  text-decoration: none;
  background-image: 85d37d8e-b226-4483-82ff-ac17e65f6d54;
}
.home-footer {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-950);
  border-width: 1px;
  flex-direction: column;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-footer1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
}
.home-container3 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.home-text37 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text38 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.home-text41 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-twounits);
}
.home-text42 {
  color: var(--dl-color-gray-black50);
  margin-top: 12px;
}
.home-links-container {
  display: flex;
  grid-gap: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-text43 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.home-text44 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text45 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text46 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text47 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text48 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text49 {
  color: var(--dl-color-gray-black50);
}
.home-container5 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-text50 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.home-text51 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text52 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text53 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text54 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text55 {
  color: var(--dl-color-gray-black50);
}
.home-container6 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text56 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.home-text57 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text58 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text59 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text60 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 1600px) {
  .home-main {
    height: 1084px;
  }
  .home-navlink {
    top: 593px;
    left: -45px;
    color: var(--dl-color-gray-black);
    width: 191px;
    position: absolute;
    border-color: rgba(0, 0, 0, 0);
  }
  .home-navlink1 {
    top: 591px;
    left: 169px;
    color: var(--dl-color-gray-black);
    width: 191px;
    position: absolute;
    border-color: rgba(0, 0, 0, 0);
    background-size: cover;
    background-image: url("public/playground_assets/bitlife_logo-200h.webp");
  }
  .home-navlink2 {
    top: 597px;
    left: 369px;
    color: var(--dl-color-gray-black);
    width: 191px;
    position: absolute;
    border-color: rgba(0, 0, 0, 0);
    background-size: cover;
    background-image: url("public/playground_assets/r-200h.png");
  }
  .home-navlink3 {
    top: 595px;
    left: 571px;
    width: 191px;
    position: absolute;
    background-size: cover;
    background-image: url("public/playground_assets/1024x1024bb-200h.png");
  }
  .home-button {
    top: 597px;
    left: 848px;
    position: absolute;
  }
  .home-button1 {
    top: 597px;
    left: 1063px;
    position: absolute;
    background-size: cover;
    background-image: url("public/playground_assets/1280x1280bb-200h.jpg");
  }
  .home-button2 {
    left: 236px;
    bottom: 42px;
    position: absolute;
    background-size: cover;
    background-image: url("public/playground_assets/512x512bb-200h.jpg");
  }
  .home-button3 {
    left: 455px;
    bottom: 36px;
    position: absolute;
    background-size: cover;
    background-image: url("public/playground_assets/unnamed-200h.jpg");
  }
  .home-button4 {
    left: 25px;
    bottom: 44px;
    position: absolute;
    background-size: cover;
    background-image: url("public/playground_assets/mario-64---button-1559263987447-200h.jpg");
  }
}
@media(max-width: 1200px) {
  .home-main {
    height: 1212px;
  }
  .home-navlink {
    top: 772px;
    right: 71px;
    position: absolute;
  }
  .home-navlink1 {
    top: 567px;
    left: 793px;
    position: absolute;
  }
  .home-navlink2 {
    top: 569px;
    left: 596px;
    position: absolute;
  }
  .home-navlink3 {
    top: 782px;
    left: 173px;
    position: absolute;
  }
  .home-button {
    top: 571px;
    left: 11px;
  }
  .home-button1 {
    top: 588px;
    left: 455px;
  }
  .home-button2 {
    top: 586px;
    left: 238px;
  }
  .home-button3 {
    top: 791px;
    left: 462px;
    height: 189px;
  }
  .home-button4 {
    top: 788px;
    left: 676px;
  }
}
@media(max-width: 991px) {
  .home-container1 {
    display: none;
  }
  .home-left {
    display: none;
  }
  .home-right {
    display: none;
  }
  .home-icons {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-icon {
    width: 24px;
    height: 24px;
    display: flex;
  }
  .home-logo-center1 {
    margin-left: 0px;
  }
  .home-hero1 {
    flex-direction: column;
  }
  .home-footer1 {
    flex-direction: column-reverse;
  }
  .home-links-container {
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-main {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-hero {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-footer1 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-links-container {
    margin-top: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .home-container {
    padding-top: 55px;
  }
  .home-header {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .home-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-container4 {
    margin-right: var(--dl-space-space-unit);
  }
  .home-container5 {
    margin-right: var(--dl-space-space-unit);
  }
}
