.bit-life-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.bit-life-home {
  top: -6px;
  left: -2px;
  color: var(--dl-color-pallet-green);
  width: 147px;
  height: 140px;
  position: absolute;
  transition: 0.3s;
  background-size: cover;
  text-decoration: underline;
  background-image: url("https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0cf7ed52-5f41-44be-934f-23cb1fef8b34/d29fa10c-7ea4-48eb-89d0-fd726abec744?org_if_sml=1");
}

.bit-life-iframe {
  width: 320px;
  height: 200px;
}
@media(max-width: 1600px) {
  .bit-life-iframe {
    width: 1079px;
    height: 834px;
  }
}
